# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/.qmake.stash
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/main.obj
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qmls.exe
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qmls.ilk
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qmls.pdb
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qmls.vc.pdb
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qrc_qml.cpp
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qrc_qml.obj
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/Makefile
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/Makefile.Debug
build-qmls-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/Makefile.Release
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/.qmake.stash
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/main.exe
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/main.ilk
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/main.obj
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/main.pdb
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/main.vc.pdb
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qrc_qml.cpp
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/debug/qrc_qml.obj
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/Makefile
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/Makefile.Debug
qmls/build-main-Desktop_Qt_5_11_2_MSVC2015_32bit-Debug/Makefile.Release
qmls/main.cpp
qmls/main.qml
qmls/qml.qrc
qmls/qmls.pro
qmls/qmls.pro.user
